<div class="collection-hero__inner page-width">
<p>
Part of the <a href="/collections/{{collection.handle | truncatewords: 1, ''}}" title="{{collection.handle | truncatewords: 1, ''}} patches, stickers, t-shirts, prints, buttons, and more">
{{collection.handle | truncatewords: 1, ''}}</a> series.
</p>
</div>