{% assign start = "2022-09-25" | date: '%s' %}
{% assign end = "2022-10-07" | date: '%s' %}
{% assign today = "now" | date: '%s' %}
{% if  start <= today and today <= end %}
    <h3 style="text-align: center;">*** Orders placed between Sep 25, 2022 and Oct 7, 2022 will ship starting Oct 7, 2022 ***</h3>
{% endif %}